<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <title>Brand Page</title>
  </head>
  <body>
    <div class="container pageMargin">
      <div class="jumbotron">
        <hr><hr>
        <h1 class="header">Brand Page for {{ brand.getName }}</h1>
        <hr>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h2>You can find {{ brand.getName }} at these local stores:</h2>
            {% if brand_stores is not empty %}
              <ul>
                {% for store in brand_stores %}
                  <li>{{store.getName}}</li>
                {% endfor %}
              </ul>
            {% else %}
              <h3>This Brand is not currently being stocked at any local Stores...</h3>
            {% endif %}
          </div>
          <div class="col-sm-6">
            <h2>Add a Store that stocks this Brand to the list:</h2>
            <form action="/add_brand_store/{{brand.getId}}" method="post">
              <label for="store_name">Select A Store</label>
              <select id="store_name" name="store_name">
                {% if brand_stores is not empty %}
                  {% for store in brand_stores %}
                    <option value="{{store.getId}}">{{store.getName}}</option>
                  {% endfor %}
                {% endif %}
              </select>
              <br>
              <br>
              <button class="btn-success btn-lg" type="submit">Submit Store</button>
            </form>
            <hr>
          </div>
        </div>
        <hr><hr>
        <p class="returnHome">
          <a href="/">👈🏽 Go To Shoe Genie Home Page</a>
        </p>
      </div>
    </div>
  </body>
